<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="AtOnlineDrive-x64" Version="1.0.0.0" Manufacturer="test" UpgradeCode="7dfd79be-6d30-421b-9247-24afaffc7083">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
      <PackageGroupRef Id="NetFx452Redist" />
			<MsiPackage SourceFile="../Drive/Resource./Dokan_x64.msi" /> 
			<MsiPackage SourceFile="$(var.Installer.TargetPath)" /> 
		</Chain>
	</Bundle>
</Wix>
